@using Microsoft.AspNetCore.Identity
@model DbBicyclesLab.ViewModels.ChangeRoleViewModel

<h2>Зміна ролей для користувача @Model.UserEmail</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @if (!Model.UserRoles.Contains("admin"))
            {
            <span>admin</span>
            <input type="checkbox" name="roles" value="admin"/><br />
            }else
        {
            <div>Цей користувач є адміністратором!</div>
        }
    </div>
    <button type="submit" class="btn btn-primary">Зберегти</button>
</form>