
<a asp-controller="Categories" asp-action="Index">
    <section class="menuoption categories">
        <h2 class="menuoptionh">Категорії</h2>
        <img class="menuimage" />
    </section>
</a>
<a asp-controller="BicycleModels" asp-action="CommonIndex">
    <section class="menuoption models">
        <h2 class="menuoptionh">Моделі</h2>
        <img class="menuimage" />
    </section>
</a>
<a asp-controller="Brands" asp-action="CommonIndex">
    <section class="menuoption dealers">
        <h2 class="menuoptionh">Бренди</h2>
        <img class="menuimage" />
    </section>
</a>
